<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
<!-- BOOTSTRAP -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<!-- END BOOTSTRAP -->
<link rel="stylesheet" href="/css/adminDash.css">
</head>

<body>
    <!-- HEADER BAR -->
    <div id="header-bar">
        <div class="wrapper header-wrapper" id="left-header-bar">
        <div class="col-md header-column">
            <h1>AppX</h1>
        </div>
    </div>
    <div class="wrapper header-wrapper" id="right-header-bar">
        <div class="col-md header-column">
            <a href="/login">
                <input type="submit" id="logout" value="Log out"></input>
            </a>
        </div>
    </div>
    </div>
    <!-- END HEADER BAR -->

    <!-- MAIN WINDOW -->
    <div id="main-window">
      <div id="context-pane">
        <h3>Customers</h3>
        <table border="1" width="940" height="100">
          <tr>
              <th> Username </th>
              <th> Name </th>
              <th> Password </th>
              <th> Subscription </th>
              <th> End Date </th>
          </tr>

          <tr th:each="user : ${users}">
              <td th:text="${user.username}"></td>
              <td th:text="${user.name}"></td>
              <td th:text="${user.password}"></td>
              <td th:text="${user.subscription}">

                  <div class="select_dropdown">
                      <select>
                          <option th:text="${subscription}" id="option1"> Free </option>
                          <option th:text="${subscription}" id="option2"> Paid </option>
                      </select>
                  </div>

              </td>
              <td th:text="${accessExpiration}" id="endDate">12/14/2020</td>
          </tr>
        </table>

      </div>
    </div>
    <!-- END MAIN WINDOW -->
</body>
</html>
