<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
<!-- BOOTSTRAP -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<!-- END BOOTSTRAP -->
<link rel="stylesheet" href="/css/temp.css">
</head>

<body>
    <!-- HEADER BAR -->
    <div id="header-bar">
        <div class="wrapper header-wrapper" id="left-header-bar">
        <div class="col-md header-column">
            <h1>AppX</h1>
        </div>
    </div>
    <form id="logoutForm" method="POST" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
    <div class="wrapper header-wrapper" id="right-header-bar">
        <div class="col-md header-column">
            <button onclick="change_text()" class="button" id="upgrade">Upgrade to Premium</button>
            <script>
                function change_text(){
                    document.getElementById("subscription").innerHTML = "PAID";
                }
            </script>

            <a onclick="document.forms['logoutForm'].submit()">
                <input type="submit" class="button" value="Log out"></input>
            </a>
        </div>
    </div>
    </div>
    <!-- END HEADER BAR -->

    <!-- MAIN WINDOW -->
    <div id="main-window">
      <img id="user-icon" src="/assets/default-avatar.png">
      <div id="context-pane">
          <h3>Profile</h3>
          <p class="profile-info" th:text="${customer.username}" id="username"> </p>
          <p class="profile-info" th:text="${customer.password}" id="password"> </p>
          <br>
          Subscription:
          <div class="profile-info" th:text="${customer.subscription}" id="subscription"> FREE </div>
          <div th:if="${not customer.subscription}" th:text="'Remaining API Requests: ' + ${remainingApiRequests} + ' / ' + ${maxApiRequests}"></div>
      </div>
        <a href="/makeRequest">
            <input type="submit" id="makeRequest" value="Make a Request"></input>
        </a>

    </div>
    <!-- END MAIN WINDOW -->
</body>
</html>
